<div>
  <section>
    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold text-center">Why is it so great?</h2>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam.</p>
    <div class="row pt-2">
      <!--Grid column-->
      <div class="col-lg-5 text-center text-lg-left">
        <img src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="" class="img-fluid z-depth-0">
      </div>
      <!--Grid column-->
      <div class="col-lg-7">
        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
          </div>
          <div class="col-10">
            <div class="md-form">
              <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
              <input mdbInput type="text" id="form3" class="form-control">
              <label for="form3">Your name</label>
            </div>
          </div>
        </div>
        <!--Grid row-->
        <div class="row pb-3">
          <div class="col-2 col-md-1">
          </div>
          <div class="col-10">
            <div class="md-form">
              <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
              <input mdbInput mdbValidate minLength="8" maxLength="25" type="email"
                     class="form-control" id="form9">
              <label for="form9">Type your e-mail</label>
            </div>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col-2 col-md-1">
          </div>
          <div class="col-10">
            <div class="md-form">
              <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
              <input mdbInput type="text" id="form3" class="form-control">
              <label for="form3">Your name</label>
            </div>
          </div>
        </div>
    </div>
    </div>

  </section>
</div>
